.containerrr {
  margin: 0;

  width: 100%;

  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 500px;
  /* width: 100%; */
}
/* @media screen and (max-width: 500px) {
  .containerrr {
    background-color: red;
  }
} */

/* html,
body,
.containerrr,
.containerrr > div {
  height: 100%;
} */

@media screen and (min-width: 500) {
  body {
    width: 10000px;
  }
}
.primary {
  height: 200px;
}
.product {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 800px) {
  .product {
    flex-direction: column;
    justify-content: center;
    width: 12rem;
  }
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}

span {
  font-size: large;
}
.final-box {
  position: relative;
  left: 15px;
}
.final-box:hover {
  background-color: rgb(201, 181, 204);
  transition: background-color 0.5s;
  text-shadow: black;
}
.footer {
  border-radius: 50%;
}
.product-button {
  color: black;
  background-color: whitesmoke;
  border-radius: 10%;
  width: 120px;
}
.product-button:hover {
  color: whitesmoke;
  background-color: black;
}
